.titlebar{
        background-color :#2c2d30;
        display:block;
        color:#74E622;
        font-size: 42px;
        padding-left: 16px;
}

.Search{
        font-size: 24px;
        display: block;
        width: 100%;
        padding-top: 8px;
        padding-left: 8px;
        padding-bottom: 8px;
}


